.main-div1 {
    background-color: white;
    margin-top: 90px;
    height: 400px;
}

.compLogo1 {
    margin-top: 90px;
    margin-left: 400px;
    position: absolute;
}

.company-name1 {
    margin-left: 30px;
    width: 300px;
}

.company-bio1 {
    margin-left: 30px;
    width: 300px;
}

.company-description1 {
    margin-left: 30px;
    width: 300px;
}

.company-cPercentage1 {
    margin-left: 30px;
    width: 300px;
}

.registerComp1 {
    margin-left: 30px;
}

#cabSettings {
    margin-right: 0;
    height: 640px;
    background-color: rgba(231, 229, 229, 0.73);
}

.compImg21 {
    margin-top: 90px;
    background-color: white;
}

.compImg21 img {
    margin-left: 120px;
}

.cabOperation {
    height: 657px;
    background-color: rgba(231, 229, 229, 0.73);
}

.operationTable {
    /*width: 25%;*/
    height: 100px;
    margin-left: 6%;
    margin-bottom: 2%;
    border-radius: 10px;
    background-color: white;
}

.operationTable h3 {
    margin-top: -120px;
    margin-left: 80px;
    color: #928f8f;
}

.operationTable h5 {
    color: #928f8f;
    margin-left: 80px;
}

.operationTable2 {
    width: 280px;
    height: 100px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: white;

}

.operationTable2 h3 {
    margin-top: -120px;
    margin-left: 80px;
    color: #928f8f;
}

.operationTable2 h5 {
    color: #928f8f;
    margin-left: 80px;
}

.operationTable3 {
    width: 280px;
    height: 100px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: white;
}

.operationTable3 h3 {
    margin-top: -120px;
    margin-left: 80px;
    color: #928f8f;
}

.operationTable3 h5 {
    margin-left: 80px;
    color: #928f8f;
}

.operationTable4 {
    width: 280px;
    height: 100px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: white;
}

.operationTable4 h3 {
    margin-top: -120px;
    margin-left: 80px;
    color: #928f8f;
}

.operationTable4 h5 {
    margin-left: 80px;
    color: #928f8f;
}

.operationTable5 {
    width: 280px;
    height: 100px;
    margin-left: 65px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
}

.operationTable5 h3 {
    margin-top: -120px;
    margin-left: 80px;
    color: #928f8f;
}

.operationTable5 h5 {
    margin-left: 80px;
    color: #928f8f;
}

.operationTable6 {
    width: 280px;
    height: 100px;
    margin-left: 30px;
    border-radius: 10px;
    margin-top: 20px;
    background-color: white;
}

.operationTable6 h3 {
    margin-top: -120px;
    margin-left: 80px;
    color: #928f8f;
}

.operationTable6 h5 {
    margin-left: 80px;
    color: #928f8f;
}

.shape {
    margin-top: -40px;
    margin-left: 10px;
}

.copy {
    margin-top: -50px;
    margin-left: -95px;
}

.strelka {
    margin-top: -20px;
    margin-left: -102px;
}

.cabOperation Button {
    margin-top: 50px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: #003bff;
    margin-left: 1110px;
}