.home h3 {
    text-align: center;
}

.img1 {
    margin-left: 20px;
    margin-top: 20px;
    width: 120px;
    height: 100px;
    border-radius: 10px;
}

.img2 {
    margin-left: 50px;
}

.register {
    background-color: white;
    padding-top: 2%;
    border-radius: 10px;
    /*height: 656px;*/
}

.register Input {
    margin-top: 15px;
    padding: 2%;
    border-top-style: inherit;
    border-left-style: inherit;
    border-right-style: inherit;
    border-bottom-style: groove;
    border-radius: 0;
}

.superAdminAuthUserCompanyButton {
    margin-top: 7%;
    margin-left: 40%;
    padding-left: 7%;
    border-radius: 20px;
    padding-right: 7%;
}

.register h2 {
    text-align: center;
}

.iconca1 {
    margin-top: 35px;
    margin-left: -75px;
}

.iconca2 {
    margin-top: 50px;
    margin-left: -75px;
}

.coll {
    margin-top: 70%;
    margin-left: -100%;
}

.email {
    margin-top: 60%;
    margin-left: -100%;
}

.password {
    margin-top: 70%;
    margin-left: -100%;
}

.register2 {
    padding-right: 0;
}

.superAdminClient {
    position: absolute;
    width: 1314px;
    height: 657px;
    background-color: rgba(231, 229, 229, 0.73);
}

.superAdminClientTable {
    background-color: white;
    margin-top: 50px;
    border-radius: 20px;
}

.searchSuperAdminClient {
    width: 250px;
    margin-left: 50px;
    margin-top: 50px;
}

/*.superAdminClientButton{*/
/*    width: 30px;*/

/*}*/