.s_button {
    margin-right: 84% !important;
    font-weight: 700;
}
.s_1c_color {
    background-color: white;
    height: 80px;
    border-spacing: 20px;
    border-radius: 10px;
}

.s_container {
    margin: 5% 8% 0;
}

.s_size {
    margin: 0 0 0 5%;
    font-weight: 100;

}

.s_info {
    margin: 0 0 0 5%;
}